article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-size: 1em;
  font-family: monospace, serif; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #000;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, 'Trebuchet MS', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora', 'Times New Roman', 'Lucida Bright', 'Palatino', Georgia, serif; }

a {
  text-decoration: none;
  color: inherit;
  padding: 5px 0px;
  border-bottom: 1.5px dotted #999; }
  a:hover {
    color: #D60000;
    border-bottom: 1.5px dotted #D60000; }

@media all and (max-width: 700px) {
  .centerHeader {
    width: 175px;
    height: 75px;
    background-color: white;
    color: black;
    position: absolute;
    top: 50px;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto; }
    .centerHeader h1 {
      font-size: 28px;
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #D60000; }
      .centerHeader h1 .smallRaised {
        font-size: 12px;
        vertical-align: top; }
    .centerHeader p {
      margin: 0;
      padding: 5px 0px;
      font-size: 10px; }
      .centerHeader p .smallRaised {
        font-size: 8px;
        vertical-align: top; }

  aside {
    width: 100%;
    margin-top: 150px; }
    aside h3 {
      margin: 0 auto;
      font-size: 16px;
      color: #777;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center; }
      aside h3 span {
        display: block;
        margin: 25px; }
        aside h3 span.sans {
          font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
          color: #999; } }
@media all and (min-width: 700px) {
  aside {
    position: relative; }
    aside h3 {
      font-size: 16px;
      color: #777;
      font-weight: 400;
      letter-spacing: 1px; }
      aside h3 span {
        margin: 0px 20px 0px 0px; }
        aside h3 span.sans {
          font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
          color: #999; }

  /* Class name via Modernizr */
  .csstransforms aside {
    border-left: 34px solid #369;
    /* Make a little room */
    padding-left: 10px; }

  .csstransforms aside h3 {
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    top: 10px;
    left: 10px;
    /* Border is the new background */
    background: none;
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg); }

  .centerHeader {
    width: 305px;
    height: 75px;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .centerHeader h1 {
      font-size: 49px;
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #D60000; }
      .centerHeader h1 .smallRaised {
        font-size: 14px;
        vertical-align: top; }
    .centerHeader p {
      margin: 0;
      padding: 5px 0px;
      font-size: 13px; }
      .centerHeader p .smallRaised {
        font-size: 10px;
        vertical-align: top; } }
