article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-size:1em;font-family:monospace, serif;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver;}button,input,select,textarea{margin:0;font-size:100%;font-family:inherit;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-spacing:0;border-collapse:collapse;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: #fff;
  color: #444;
  font-size: 16px;
  font-weight: 300;
  font-family: "Helvetica Neue", "Open Sans", "Lato",  Helvetica, sans-serif;
}

.mega-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.menu-container {
  margin: 0;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.logo {
  float: left;
  h1 {
    font-family: 'Lora', 'Times New Roman', 'Lucida Bright', 'Palatino', Georgia, serif;
    color: #000;
    font-size: 36px;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

ul {
    &#main-nav {
      margin: 0;
      padding: 0;
      float: right;
      li {
        list-style: none;
        display: inline-block;
        a {
          text-decoration: none;
          margin-left: 15px;
          color: black;
          font-weight: 700;
          padding-bottom: 2px;
          &.active {
          border-bottom: 2px solid #ED0707;
          }
          &:hover {
            border-bottom: 2px dotted #ED0707;
          }
        }
      }
    }
  }

.body-wrapper {
  width: 100%;
  padding: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.sidebar {
  width: 30%;
  float: left;
  ul {
    &#side-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
        a {
          text-decoration: none;
          color: inherit;
          &.active {
            color: #ED0707;
            &:hover {
              border: none;
            }
          }
          &:hover {
            border-bottom: 2px dotted #ED0707;
          }
        }
      }
    }
  }
}

.content {
  width: 70%;
  float: right;
}

// Create mixin
@mixin gallery-box ($width) {
  float: left;
  width: $width;
  padding: 10px;
}

// Apply mixin
.block1,
.block3 {
  @include gallery-box (40%);
}  
.block2 {
  @include gallery-box (20%);
}
.block3 {
  padding-right: 0px;
  margin-right: 0px;
}
.block {
  @include gallery-box (100%);
  text-align: right;
  padding-right: 0;
  img {
    width: 100%;
    // &.tms {
    //   width: 80%;
    // }
    // border: 2px solid #444;
    // box-shadow: 0px 0px 10px #666;
  }
}
.block-left {
  width: 33%;
  float: left;
  padding: 0px 10px 20px 10px;
  img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.block-mid {
  width: 33%;
  float: left;
  padding: 0px 10px 20px 10px;
  img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.block-right {
  width: 33%;
  float: left;
  padding: 0px 10px;
  img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.block-half1,
.block-half2 {
  width: 100%;
  float: left;
  padding: 0px 0px 0px 15px;
  img {
    width: 100%;
    margin-bottom: 15px;
  }
}
img.gal {
  width: 100%;
  box-shadow: -7px 7px 5px #666;
  .small {
    margin-bottom: 10px;
  }
}
.footer {
  color: #999;
  text-align: right;
  width: 100%;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  clear: both;
}


// ******************************
// Responsivate those styles, bud
// ******************************

@media all and (max-width: 860px) {
  .sidebar {
    width: 40%;
  }
  .content {
    width: 60%;
  }
}

@media all and (max-width: 700px) {

  .logo {
    width: 100%;
    h1 {
      font-size: 42px;
    }
  }

  ul {
    &#main-nav {
      margin: 10px 0;
      padding: 0;
      float: left;
      li {
        list-style: none;
        float: left;
        a {
          margin-left: 0;
          margin-right: 15px;
          font-size: 14px;
        }
      } // End li styles
    } // End main-nav styles
  } // End ul styles

  .sidebar {
    width: 45%;
    ul {
      &#side-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          a {
            text-decoration: none;
            color: inherit;
            &.active {
              color: #ED0707;
              &:hover {
                border: none;
              }
            }
            &:hover {
              border-bottom: 2px dotted #ED0707;
            }
          }
        }
      }
    }
  }
  .content {
    width: 55%;
  }

} // End max-width 700px styles

@media all and (max-width: 600px) {
  .menu-container {
    text-align: center;
  }
.logo {
  background-color: #fff;
  padding-bottom: 10px;
  h1 {
    font-size: 34px;
  }
}
.nav-responsive {
  background-color: #000;
  padding: 5px;
}

  ul {
    &#main-nav {
      padding: 0;
      float: none;
      li {
        margin-top: 10px;
        list-style: none;
        float: none;
        a {
          color: #fff;
          margin: 10px;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: 1px;
          &:hover {
            border-bottom: 2px solid #fff;
          }
          &.active {
            display: none;
          }
        }
      } // End li styles
    } // End main-nav styles
  } // End ul styles

  .sidebar {
    width: 100%;
    ul {
      &#side-nav {
        li {
          &.active {
            background-color: #333;
            &:hover {
              background-color: #222;
            }
          }
          font-size: 16px;
          font-weight: 700;
          line-height: 32px;
          text-align: center;
          border-bottom: 1px solid #333;
            &:hover {
              background-color: yellow;
              color: #666;
            }
          a {
            text-decoration: none;
            color: inherit;
            &.active {
              color: yellow;
              &:hover {
                border: none;
                color: #eee;
              }
            }
            &:hover {
              border: none;
            }
          }
        }
      }
    }
  }
  .content {
    width: 100%;
  }
  .footer {
    text-align: center;
    font-size: 14px;
  }
} // End max-width 600px
